engine-strict=true
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false 
@keyless:registry=https://npm.cloudsmith.io/keyless/partners/
//npm.cloudsmith.io/keyless/partners/:_authToken=${NPM_TOKEN}