@import 'tailwindcss';
@import '@rainbow-me/rainbowkit/styles.css';
@import './idos-enclave.css';
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    color-scheme: dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply font-body bg-ui-background-dark text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }
}

@theme {
  --font-body: 'Urbanist', sans-serif;
  --font-heading: 'Urbanist', sans-serif;
  --font-mono: 'Urbanist', sans-serif;

  /* Neutral colors override */
  --color-neutral-950: #090909;

  /* idOS colors */
  --color-idos-dark-mode: #0a090c;
  --color-idos-grey1: #1a1a1a;
  --color-idos-grey2: #3b3b3b;
  --color-idos-grey3: #4d4d4d;
  --color-idos-grey4: #7a7a7a;
  --color-idos-seasalt: #f8f8f8;

  /* Aquamarine shades */
  --color-aquamarine-950: #00382d;
  --color-aquamarine-900: #00624d;
  --color-aquamarine-800: #00785c;
  --color-aquamarine-700: #009873;
  --color-aquamarine-600: #00be89;
  --color-aquamarine-500: #00e8a6;
  --color-aquamarine-400: #00ffb9;
  --color-aquamarine-300: #33ffcc;
  --color-aquamarine-200: #92ffdc;
  --color-aquamarine-100: #c6ffea;
  --color-aquamarine-50: #e7fff7;

  /* Semantic colors */
  --color-semantic-success: #10b981;
  --color-semantic-warning: #f59e0b;
  --color-semantic-error: #ef4444;
  --color-semantic-info: #3b82f6;

  /* UI colors */
  --color-ui-background-light: #f8f8f8;
  --color-ui-background-dark: #090909;

  --color-ui-text-light: #3b3b3b;
  --color-ui-text-dark: #f8f8f8;

  --color-ui-border-light: #f8f8f8;
  --color-ui-border-dark: #3b3b3b;
}
